---
import "../styles/globals.css";
import Gradient from "../components/gradient.astro";
import AboutMe from "../components/aboutme.astro";
import FindMe from "../components/findme.astro";
import Projects from "../components/projects.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=bespoke-serif@1&display=swap"
      rel="stylesheet"
    />
    <title>Astro</title>
  </head>
  <body
    class="bg mx-auto flex min-h-screen max-w-[872px] overflow-x-hidden flex-col gap-9 bg-neutral-950 px-10 py-8 text-sm text-neutral-400 md:gap-20 md:py-16 selection:bg-red-300 selection:text-black"
  >
    <Gradient />
    <main class="flex flex-col gap-10 justify-center my-auto">
      <AboutMe />
      <FindMe />
      <Projects />
    </main>
  </body>
</html>
