---
import "../styles/globals.css";
import Gradient from "../components/gradient.astro";
import AboutMe from "../components/aboutme.astro";
import FindMe from "../components/findme.astro";
import Projects from "../components/projects.astro";
import Blog from "../components/blog.astro";
import Layout from "../layout/Layout.astro";
---

<Layout>
  <main class="flex flex-col gap-10 justify-center my-auto">
    <AboutMe />
    <FindMe />
    <Projects />
    <Blog />
  </main>
</Layout>
