---

---

<div
  class="animate-spin-slow fixed -right-1/4 top-64 hidden h-64 w-1/2 opacity-90 blur-[120px] filter dark:md:block border-0"
>
  {
    /* don't ask why and how it works, it just works. inspiration: https://codecrafters.io/ */
  }

  <div class="relative z-0 top-0 left-0 right-0 bottom-0 overflow-hidden border-0">
    <div class="z-0 h-60 w-full rounded-full bg-teal-600 border-0"></div>
    <div
      class="absolute -left-24 bottom-24 z-0 h-60 w-full rounded-full border-0 bg-green-700"
    >
    </div>
    <div
      class="absolute left-24 top-24 z-0 h-60 w-full rounded-full border-0 bg-purple-600"
    >
    </div>
  </div>
</div>

<div
  class="animate-spin-slow fixed -left-1/2 top-64 hidden h-64 w-1/2 opacity-90 blur-[120px] filter dark:block border-0"
>
  {
    /* dont ask why and how it works, it just works. inspiration:*/
  }

  <div class="relative z-0">
    <div class="z-0 h-60 w-full rounded-full bg-green-600 border-0"></div>
    <div
      class="absolute -left-24 bottom-24 z-0 h-60 w-full rounded-full border-0 bg-teal-700"
    >
    </div>
    <div
      class="absolute left-24 top-24 z-0 h-60 w-full rounded-full border-0 bg-rose-600"
    >
    </div>
  </div>
</div>
