---
import { ViewTransitions } from "astro:transitions";
import "../styles/globals.css";
import Gradient from "../components/gradient.astro";
---

<html lang="en">
	<head>
		<ViewTransitions />
		<!-- Primary Meta Tags -->
		<title>Yash D's Portfolio</title>
		<meta name="title" content="Yash D's Portfolio" />
		<meta
			name="description"
			content="A portfolio page of Yash Deshpande :)"
		/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://yashd-dev.vercel.app/" />
		<meta property="og:title" content="Yash D's Portfolio" />
		<meta
			property="og:description"
			content="A portfolio page of Yash Deshpande :)"
		/>
		<meta
			property="og:image"
			content="https://cdn.jsdelivr.net/gh/yashd-dev/Portfolio-v5/src/public/preview.png"
		/>

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://yashd-dev.vercel.app/" />
		<meta property="twitter:title" content="Yash D's Portfolio" />
		<meta
			property="twitter:description"
			content="A portfolio page of Yash Deshpande :)"
		/>
		<meta
			property="twitter:image"
			content="https://cdn.jsdelivr.net/gh/yashd-dev/Portfolio-v5/src/public/preview.png"
		/>
		<link rel="sitemap" href="/sitemap-index.xml" />

		<meta charset="UTF-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="https://cdn.jsdelivr.net/gh/yashd-dev/Portfolio-v5/src/public/favicon.ico"
		/>
		<meta name="viewport" content="width=device-width" />
		<link
			href="https://api.fontshare.com/v2/css?f[]=bespoke-serif@1&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://api.fontshare.com/v2/css?f[]=poppins@1&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body
		class="bg mx-auto flex min-h-screen max-w-[872px] overflow-x-hidden flex-col gap-9 bg-neutral-950 px-10 py-8 text-sm text-neutral-400 md:gap-20 md:py-16 selection:bg-red-300 selection:text-black"
	>
		<Gradient />
		<main class="flex flex-col gap-10 justify-center my-auto">
			<slot transition:animate="none" />
		</main>
	</body>
</html>
